body{
  margin: 0;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  gap: 20px;
}

h1{
  margin: 0;
  padding: 0;
  color: yellow;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 0 0 5px yellow;
}

h2{
  margin: 0;
  padding: 0;
  color: yellow;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.container{
  width: 960px;
  height: 960px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 20px solid yellow;
  border-radius: 10px;
  box-shadow: 0 0 10px yellow;
  box-shadow: 0 0 10px yellow;
  background-color: white;
}

.container .row{
  flex: 1;
  display: flex;
  flex-direction: row;
}

.container .cell{
  border: 1px solid black;
  flex: 1;
}

.active{
  background-color: black;
}

div > #change{
  background-color: transparent;
  border: 2px solid yellow;
  border-radius: 10px;
  padding: 10px;
  color: yellow;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
}